.beer-details{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 60px;
}

.beer-line-content{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.left{
   margin-right: 70px;
}

.beer-img-details{
   width: 200px;
   height: 400px;
}